[Unit]
Description=nidhogg
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/nidhogg
Restart=on-failure

[Install]
WantedBy=multi-user.target
